bool x;		// global x
bool y;

function : int main() {
  int x;	// local x

  //According to Check 1, the + operator takes only float and/or int
  //as valid operands.

  x = x + 2;	// Fix the Phase 0 scope bug to find the local int x first !

  return 0;
}
