// All these lines should compile without error.


// Testing > ----------------------- > -----------------------------------------


bool a = 0x1 > 01;

bool b = 1 > 2.0;

bool c = 0x1 > 2.0;

bool d = 01 > 2.0;


// Testing < ----------------------- < -----------------------------------------


bool e = 0x1 < 01;

bool f = 1 < 2.0;

bool g = 0x1 < 2.0;

bool h = 01 < 2.0;


// Testing >= ---------------------- >= ----------------------------------------


bool i = 0x1 >= 01;

bool j = 1 >= 2.0;

bool k = 0x1 >= 2.0;

bool l = 01 >= 2.0;


// Testing <= ---------------------- <= ----------------------------------------


bool m = 0x1 <= 01;

bool n = 1 <= 2.0;

bool o = 0x1 <= 2.0;

bool p = 01 <= 2.0;