// Obvious type errors ---------------------------------------------------------


// Incompatible type bool to binary operator +, numeric expected.
int a = 0x4 + true;

// Incompatible type bool to binary operator -, numeric expected.
int b = false - 9.0 + true;

// Incompatible type bool to binary operator *, numeric expected.
float c = 3.14159 * false;

// Incompatible type bool to binary operator /, numeric expected.
int d = true / 1;


// Try parentheses and multiple errors -----------------------------------------


// Incompatible type float to binary operator %, equivalent to int expected.
int e = 1 + 2 + (5 % 1.618);

// Incompatible type bool to binary operator +, numeric expected.
int f = ((1 + 4.0) + true) % (2 + 2) / false % 6;


// Make sure operators can do type promotion -----------------------------------


// Should fail because 4.0 + 1 results in float, but % expects two ints.
// Incompatible type float to binary operator %, equivalent to int expected.
int g = (4.0 + 1) % 7;

// Incompatible type float to binary operator %, equivalent to int expected.
int h = (4.0 - 0xBEEFADE) % 7;

// Incompatible type float to binary operator %, equivalent to int expected.
int i = (4.0 * 1) % 7;

// Incompatible type float to binary operator %, equivalent to int expected.
int j = (4.0 / 0777) % 7;