// All these lines should compile without error.
// NB: inc/dec expressions seem to only be allowed inside functions or blocks.

function : int main() {
    int a = 0x0;
    a++;
    ++a;

    float b = 0.0;
    b++;
    ++b;

    int c = 01;
    c--;
    --c;

    float d = 1.0;
    d--;
    --d;

    int e = a++ + ++c;

    float f = b-- - --d;

	return 0;
}
