function : void dirty_deeds() {
    int a = 5;
    int b = 0;
    int c = 20;

    // Left-hand operand is not assignable (not a modifiable L-value).
    1 = 4 = 3 = 2;

    // Left-hand operand is not assignable (not a modifiable L-value).
    1 = a = 10;

    // Left-hand operand is not assignable (not a modifiable L-value).
    1 = a = b = 10;

    // Left-hand operand is not assignable (not a modifiable L-value).
    c = 1 = a = b = 10;
}