function : int foo(float f)
{
  return 0;
}
function : int foo2(float &f)
{
  return 0;
}
function: int &foo3()
{
  int x = 5;
  return x;
}
function : void foobar(int a, float &b, int& c)
{
}

function : int main()
{
  int x = 1;
  float y = 2;
  //number of args checking
  foo();
  foo(x);
  foo(1,2);

  //type checking
  foo(1);
  foo(!1);
  foo(1.5);
  foo(true);
  foo2(x);
  foo2(!1);
  foo2(1.5);
  foo2(y);

  //test everything together
  foobar(1.5, x, 2);
  foobar(1.5);
  foobar(!1);
  return 0;

  //test L-val/R-val
  foo(1) = 5;
  foo3() = 5;
  x = foo(1);
  x = foo3();
}

