// Return expression is not a modifiable L-value for function that
// returns by reference.
function : int& intref_returns_rval() {
    return 5;
}

// Type of return expression (int) is not equivalent to the function's
// return type (float).
function : float& floatref_returns_intref() {
    int not_float = 1;
    return not_float;
}

// Type of return expression (int), not assignment compatible with
// function's return type (bool).
function : bool bool_returns_int() {
    return 0;
}

// Type of return expression (float), not assignment compatible with
// function's return type (int).
function : int int_returns_float() {
    return 1.0;
}

// Incompatible type bool to binary operator /, numeric expected.
// Should NOT print a Check 6 error.
function : int error_in_return_expr() {
    return false / true;
}