function : int returns_matching_type() {
    return 0;
}

function : bool returns_matching_lval() {
    bool b = true;
    return b;
}

function : float returns_assignable_rval() {
    return 1;
}

function : bool& returns_equivalent_lval(bool& b) {
    return b;
}

function : int& returns_by_reference() {
    int i = 0;
    return i;
}