// Return required in function, none found.
function : int empty_body() {
    // nothing
}

// Return required in function, none found.
function : bool missing_return_statement() {
    bool a = false;

    if (a && true) {
        int b = 1;
    }
}