function: int main()
{
    int w = 4.5;
    const bool l = true;
    const int x = 4;
    const int y = 5;
    const int h = x + y + y + x * y;
    const int g = h & y;
    const int e = -g;
    const int q = g / 0;
    
    int a;
    int s;
    int d;
    int f;
    a = s = d = f = g / 0;
    
    
    h++;
    h = h + 1;
    const int k = l;
    return 0;
}