/* Check 10 (p10a.rc) */

float a[10];
float b[10];
float c;
float d[2][2]; 
float e[2][2][100]; 
float f[2][2][100][190]; 
float g[2][2][100][190][2]; 
float h[2][2][100][190][2][1]; 
float i[2][2][100][190][2][1][0]; 
