/* Check 12 (p12g.rc) */

function : int main() {
    bool b;
    bool c;
    int a[10];
    int aa[10][10];
    
    while( b ){
        while( c ){
            b = false;
            if (b && c) {
                break;
            }
            continue;
        }
        break;
    }
    while( b ){
        while( c ){
            b = false;
            if (b && c) {
                break;
            }
            continue;
        }
        break;
    }


    
    return 0;
}
