structdef S {
    int x;
};

function : S* bar(S a) {
    S b;
    b = a;
    return &b;
}

function : S foo(S a) {
    S b;
    b = a;
    return *bar(b);
}

function : int main() {
    S b;
    int x = foo(b);
    return x;
}