structdef MYSTRUCT { float a; };
function : void main() {
	int x;
	MYSTRUCT* m;
	MYSTRUCT v;
	m->b = 2.5; //field not found
	(*m).b = 1; //field not found
	*x = 2; //incompatible type, expects pointer
	v->a = 2; //expects pointer
	(*x).a = 3;
}
