structdef STRUCT {
	int *x;
};

function : void main() {
	STRUCT *ptr;
	STRUCT *s;
	int *ptr2;
	int *w;
	int **y;
	int z;
	static float *x = nullptr;
	static int *a = nullptr;
	static bool *b = nullptr;
	static STRUCT *c = nullptr;
	
	ptr = s;
	ptr2 = w;
	ptr2 = *y;
	s->x = w;
}