function : void foo(int & x) {}
function : void main() {
    // Invalid operand to sizeof. Not a type or not addressable.
	int x = sizeof(1.3);

	// No error. What is a case of being a type but not being addressable?
	int y = sizeof(float);

    int z = 4;

    // Left-hand operand is not assignable (not a modifiable L-value).
 	sizeof(z) = 2;

    // Argument passed to reference parameter x (type int) is not
    // a modifiable L-value.
	foo(sizeof(z));
}
