function: float _foo(bool &a1, int &a2, float &a3) {
    return 3.5;
}

function: int main() { 
    int i;
    bool b;
    float f;
    if (_foo(b, i, f, 100)) {
        return _foo(b, i, f);
    }
}
