int baz;
float* rptr;
structdef MS {
  MS* g[50];
  BAZ* j;
};
MS* iptr;
MS* z;
float* w;

function : BAZ* main()
{
  w = (MS*) (z->g[(int)50.0 + (-1)]->j);
  w = (MS*) (*(z->g[(int)50.0 + (-1)]->g[(int)50.0 - 1]->g[(-1) + 1]));
  return (int*) (float) ((*z).g[50 + (-1)]->j);
}
