// All these lines should compile without error.

bool a = (1 == 1) != (2 != 2);

bool b = (1 != 2) == !(!(3 != 4));

bool c = 4 == 5.0;

bool d = 4 != 6.0;

bool e = true == (4 == 5);

bool f = false != (4 != 5);

bool g = true != false;