/* Check 4 (p04a.rc) */

bool b;
int i;

function : int main() {
    if (b) { 
        i = i + 1;
    }
    while(b){
        i = i + 2;
    }
    if (i < i + 5) {
        i = i + 1;
    }
    while( i < 27){
        i = i + 1; 
    }
    return 0;
}
