function : int foo(int i, int j) {return 1;}
function : void bar(int &x, int &y) {}
function : void main() {
	int x = 1;

	//Wrong number of args
	x = x + foo(1, 2, 3);
	x = x + foo(1);

	//Pass by value and not assignable
	x = x - foo(1, true, 2);
	x = x - foo(1.0, false);

	//Pass by reference and not equivalent
	float y = 1.0;
	bool b = false;
	bar(y);
	bar(x, b);

	//Pass by reference and not a modifiable L-value
	const int c = 5;
	bar(c, x);
	bar(x, 2);

	//Calls to functions that are not return by reference
	foo(5, 6) = 3;
	
}
