int a;
const int i = 1;
const int j = i;
const int k = 2;

const bool b = true;
const bool d = true;
const bool dd = true;

function : void main() {
    // binary
    const int x = 1;
    const int y = x;
    const int z = ((i + 1) & 2)/k*j-k^1|y;

    const bool bo1 = z - 3 < y + 3;
    const bool bo2 = z * 3 > y /3;
    const bool bo3 = 1 >= i % 3;
    const bool bo4 = 1 % z <= 3;

    const bool kk = b && d || dd ;

    //unary
    const bool c = !true;
}
