const int cc = 1;

float a[10];
float b[10];
float c[2][10]; // This results in an array with 2 rows, 10 cols
float * d;

function : void main() {

  c[1][9] = a[9]; // no error, within bounds
  b[b[b[b[2] - cc] + cc] - 1] = c[1][9];
  /*a[2] = d[0] + d[99999];*/
}
