/*Check 13*/
structdef MYS {
  int x;
  int y;
  int x; // check13a_Struct dup id x, error #1
  int z;
  int x; // check13a_Struct dup id x, error #2
  MYS * next; // recursive field – no error – will be tested
  function : void y() {} // check13a_Struct dup id y, error #3
  function : void f( int &x ) // No error with x (inner scope)
  {
   x = x + 1;
  }
  function : void foo() {}
  function : void foo() {} // error9_Decl dup overload, error #4
  function : void bar() {}
  function : void bar(int x) {} // OK, since legal overload
};