/* Check 14 (p14i.rc) */

structdef MYS {
    int x;
    int y;
    int z;
    function : void foo() {
        int x = 5;
        this.x = 8;
        x = 8;
        this.z = this.y;
        this.foo();
    }
    function : void bar() {
        this.foo();
    }
};

function: int main() {
    return 0;
}
