structdef _MYS_1 { 
    int x;
    float y; 
    function : void _foo() {} 
};

structdef _MYS_2 { 
    int x;
    float y; 
    function : void _foo() {} 
};

function : _MYS_2& __foo()
{
	_MYS_1 x;

	return x;
}
