structdef _MYS { 
    int x;
    int y; 
    function : void f( int &x ) 
    { x = x + 1; }
    function : void _foo() {} 
};


function: _MYS _foo (_MYS x, int y) {
    return x;
}

function: void _main () {
    _MYS x;
    _MYS y;
    y = _foo(x, 2);
}
