function : void main()
{
  int x = 1;
  int y = 2;

  cout << x & y << endl; //0
  cout << x | y << endl; //3
  cout << x ^ y << endl; //3

  cout << 1 & 2 << endl; //0
  cout << 1 | 2 << endl; //3
  cout << 1 ^ 2 << endl; //3
}
