/*Testing add and subtract */

const int a = 5;
const int b = 6;
int c = a+b+b;
function: void main()
{
 cout<<a<<endl;     //should print out 5
 cout<<a+b<<endl;   //should print out 11
 cout<<a-b-b<<endl; // should print out -7
 cout<<5+6<<endl; // should print 11
 cout<<c<<endl; //should print 17
}
