function : void main(){
    cout << "Variable Tests" << endl;
    int x1 = 10 + 10;
    int x2 = 100 - 10;
    int x3 = 100/10;
    int x4 = 10*10;
    int x5 = x1 + x2 - x3 * x4 / x3;
    cout << "x1: 10 + 10 = " << x1 << endl;
    cout << "x2: 100 - 10 = " << x2 << endl;
    cout << "x3: 100/10 = " << x3 << endl;
    cout << "x4: 10*10 = " << x4 << endl;
    cout << "x5: x1+x2-x3*x4/x3 = 10 got : " << x5 << endl;
    cout << endl;
    float f1 = 10.0 + 10.0;
    float f2 = 100.10 - 10.1;
    float f3 = 100.10/10.1;
    float f4 = 10.10 * 9.7;
    float f5 = f1 + f2 - f3 * f4 / f1;
    cout << "f1: 10.0 + 1.00 = " << f1 << endl;
    cout << "f2: 100.10 - 10.1 = " << f2 << endl;
    cout << "f3: 100.10/10.1 = " << f3 << endl;
    cout << "f4: 10.10*9.7 = " << f4 << endl;
    cout << "f5: f1+f2-f3*f4/f1 = 61.45 got:  " << f5 << endl;
}
