function : void main()
{
  int x = 0;
  while(x <= 100)
  {
    int y = 100; 
    while(y >= 0)
    {
      int z = 60;
      while(z != 5)
      {
        break;
        cout << "Should not print!" << endl;
        z--;
      }
      break;
      cout << "Should not print!" << endl;
      y--;
 
    }
    break;
    cout << "Should not print!" << endl;
    x++;
  }
  cout << "Should print" << endl;
}
