structdef NODE {
   NODE *prev;
   NODE *next;
   int val;
};

const int c = 15;

function : int main(){
   NODE *head;
   NODE *node;
   new head;
   
   head->val = 1;
   new head->next;
   head->next->val = 1;
   head->next->prev = head;
   
   node = head->next;
   int i = 0; 
   while (i < c){
      new node->next;
      node->next->val = node->val + node->prev->val;
      node->next->prev = node;
      node = node->next;
   i++;
   }
   
   i = 0; 
   while (i <= c){
      cout << node->val << " ";
      node = node->prev;
      i++;
   }
   cout << endl;
   
   i = 0; 
   while (i <= c){
      node = node->next;
      cout << node->val << " ";
      i++;
   }
   cout << endl;
   
   i = 0; 
   while (i <= c){
      node = node->prev;
      delete node->next;
      i++;
   }
   delete node;

   return 0;
}

