function : void main()
{
   int x = 0;

    while (true)
    {
       if( x < 5 )
       {
         x++;
         continue;
       }
       else
       {
         break;
       }
    }

    cout << x << endl;


}