function : void main()
{
   int x = 0;
   while(x<5)
   {
      if(x == 2)
      {
        break;
      }

      int y = 0;
      while(y<5)
      {
         if(y==2)
         {
            break;
         }
         y = y + 1;
      }
      cout << y << endl;
      x = x + 1;
   }

   //cout << x << endl;
}