int ggg = 4;

function : int color(int a)
{
	return a;
}

function : void foobaz(int &k, int &l, int &m)
{
	k = 555;
	l = 666;
	m = 777;
}

function : void bar(int &r, int &s, int &t)
{
	r = 7;
	foobaz(r,s,t);
}

function : void foo(int &a, int &b, int &c)
{
    bar(a,b,c);
}
function : void main() 
{
  int y = 2;

	int b = 5;
	
    
	int bee; 
	
	bee = color(4);

    cout << y << endl;
	cout << b << endl;
	cout << ggg << endl;
	cout << "bee is now: " << bee << endl;
    
    foo(y,b,ggg);
    
    cout << "y is now: " << y << endl;
	cout << "b is now: " << b << endl;
	cout << "ggg is now: " << ggg << endl;
}