int i0;
int i1 = 1;
int i2 = 2;
int i3 = 2;
int i4;

bool b0;
bool b1 = true;
bool b2 = true;

float f0;
float f1 = 1.0;
float f2 = 2.0;
float f3 = 2.0;
float f4;

function: void main() {

    cout << "INT" << endl << "---------------------------------" << endl;

    i2 = i3;
    i3 = 3;
    int i5 = 4;
    i4 = i5;
    i5 = 5;

    cout << "i0: should be 0:  " << i0 << endl;
    cout << "i1: should be 1:  " << i1 << endl;
    cout << "i2: should be 2:  " << i2 << endl;
    cout << "i3: should be 3:  " << i3 << endl;
    cout << "i4: should be 4:  " << i4 << endl;
    cout << "i5: should be 5:  " << i5 << endl;

    cout << "BOOL" << endl << "---------------------------------" << endl;

    b1 = true;
    bool b3 = b0;

    cout << "b0: should be false: " << b0 << endl;
    cout << "b1: should be true:  " << b1 << endl;
    cout << "b2: should be true:  " << b2 << endl;
    cout << "b3: should be false: " << b3 << endl;

    cout << "FLOAT" << endl << "---------------------------------" << endl;

    f2 = f3;
    f3 = 3.0;
    float f5 = 4.0;
    f4 = f5;
    f5 = 5.0;

    cout << "f0: should be 0.00:  " << f0 << endl;
    cout << "f1: should be 1.00:  " << f1 << endl;
    cout << "f2: should be 2.00:  " << f2 << endl;
    cout << "f3: should be 3.00:  " << f3 << endl;
    cout << "f4: should be 4.00:  " << f4 << endl;
    cout << "f5: should be 5.00:  " << f5 << endl;
}
