function: void main() {

   cout << "FLOAT" << endl << "----------------------------------------------------" << endl;

   float x = 2.0;
   cout << "Pre Increment" << endl << "-------------" << endl;
   cout << "should print 3.00: " << ++x << endl;
   cout << "should print 3.00: " << x << endl << endl;

   x = 2.0;
   cout << "Post Increment" << endl << "-------------" << endl;
   cout << "should print 2.00: " << x++ << endl;
   cout << "should print 3.00: " << x << endl << endl;

   x = 2.0;
   cout << "Pre Decrement" << endl << "-------------" << endl;
   cout << "should print 1.00: " << --x << endl;
   cout << "should print 1.00: " << x << endl << endl;

   x = 2.0;
   cout << "Post Decrement" << endl << "-------------" << endl;
   cout << "should print 2.00: " << x-- << endl;
   cout << "should print 1.00: " << x << endl << endl;
}
