function: void main() {

			cout <<"   ###   ###   ###   ###  ###   ######" << endl;
		cout <<"   #### ####    #     # ##      #     " << endl;
cout <<"   ## ### ##    #     ###       ####  " << endl;
		cout <<"   ## ##  ##    #     # ##      #     " << endl;
			cout <<"   ##  #  ##   ###   ###  ###   ######" << endl;

}
