
bool a = true;
bool b = false;

function : bool foo()  //return const literal
{
   return true;
}

function : bool foo1()  //return const literal
{
   return false;
}

function : bool foo2()  //return global var
{
   return a;
}

function : bool foo3(bool t) //return param
{
   return t;
}

function : void main()
{
   bool x = true;
   bool y = false;

   int r = 3;
   int s = 5;
   int t = 7;
   
   cout << true || true << endl;    //true 
   cout << false || false << endl;  //false
   cout << true || false << endl;  //true
   cout << false || true << endl;  //true

   cout << a || true << endl; // true
   cout << a || false << endl; // true
   cout << a || x << endl;     //true
   cout << a || y << endl;    // true

   cout << (r < s ) || true << endl; //true
   cout << true || (r < s) << endl;  //true

   cout << (s < r) || true << endl; //true
   cout << false || (s < r) << endl; //false

   cout << (r < s) || (r < s) << endl; //true
   cout << (s < r) || (s < r) << endl; // false
   cout << (s < r) || (r < s) << endl; // true
   cout << (r < s) || (s < r) << endl; // true

   cout << foo1() || foo() << endl; //true
   cout << foo() || foo1() << endl; //true
   cout << foo() || foo() << endl;  //true
   cout << foo1() || foo1() << endl; //false
  
   cout << foo2() || foo() << endl; //true
   cout << foo() || foo2() << endl; //true
   cout << foo1() || foo2() << endl; //true
   cout << foo2() || foo1() << endl; //true

   cout << foo2() || foo3(true) << endl; //true
   cout << foo2() || foo3(false) << endl; //true
   cout << foo2() || foo3(x) << endl; //true
   cout << foo2() || foo3(y) << endl; //true

   cout << foo3(true) || foo3(true) << endl; //true
   cout << foo3(false) || foo3(false) << endl; //false
   cout << foo3(true) || foo3(false) << endl; //true
   cout << foo3(false) || foo3(true) << endl; //true

   cout << foo3(x) || foo3(y) << endl; //true
   cout << foo3(x) || foo3(x) << endl; //true
   cout << foo3(y) || foo3(x) << endl; //true
   cout << foo3(y) || foo3(y) << endl; //false   

   
}
