static const float x = 3.33;
static const float y = 4.44;

function : void main() {

	static const float x = 5.55;
	static const float y = 6.66;

	cout << "main" << x << y << ::x << :: y << "end" <<endl;
}
