int x = 3;
float y = 4.44;
bool z = true;
bool a = false;


function : bool foo(int a, float b, bool c, bool d)
{
	cout << "foo" << a << b << c << d;
	return c;
}

function : void main() {

	cout << "main" <<  foo(x,y,z,a) << "end" <<endl;
}
