int x = 3;
float y = 4.44;
bool z = true;
bool a = false;


function : float foo(int x, float y, bool z, bool a)
{
	cout << "foo" << ::x << ::y << ::z << ::a;
	return y;
}

function : void main() {

	cout << "main" <<  foo(5,5.55,false,true) << "end" <<endl;
}
