structdef FOO {
    int b;
    float r;
};

FOO *bell;
FOO cold;

function : void main() 
{
    float p = 42.11;
	cold.b = 8883;
	cold.r = p;
	
	FOO *bong;
	bell = &cold;
	
	bong = bell;
	
    cout << (*bong).b << endl;
	cout << (*bong).r << endl;
}