

int * kick;

function : int * moby()
{
	int a = 4122;
	int *k = &a;
	
	return k;
}

function : void main()
{
	int *b = moby();
	
	int *punch;
	
	cout << "b is: " << *b << endl;
	
	new punch;
	delete punch;
	
	punch = moby();
	
	cout << "punch is: " << *punch << endl;
	
}