
structdef FOO {
    float a;
    float b;
    float c;
};

structdef BAR {
    int barA;
    float barB;
    bool barC;
};

FOO food;
BAR bed;

function : void main()
{
    food.a = 88.43;
    food.b = 22.31;
    food.c = 11.55;

    FOO food1;
	FOO food2;
	FOO food3;
    
    food1 = food;
	food2 = food1;
	food3 = food2;
    
    cout << food2.a << endl;
    cout << food2.b << endl;
    cout << food2.c << endl;


}
    
    
    
