// mixed pass local + global float by ref

float x = 1.55;
float y = 20.88;

function: void foo (float & x, float y) {
	x++;
	y++;
}

function: void foo2 (float x, float & y) {
	x++;
	y++;
}

function: void main() {
	cout << x << " " << y << endl;
	foo(x,y);
	cout << x << " " << y << endl;
	foo2(x,y);
	cout << x << " " << y << endl;
}
